:root {
  background: hsl(257deg, 40%, 49%) url("../images/bg-mobile.svg") top no-repeat;
  background-size: contain;
  color: white;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 5em;
}
body header {
  padding-bottom: 7em;
}
body main .landing {
  display: flex;
  flex-direction: column;
}
body main .landing__hero {
  width: 100%;
}
body main .landing__intro {
  margin: 8em 0;
  text-align: center;
}
body main .landing__intro__desc {
  font-family: "Poppins", sans-serif;
  font-size: 3.25rem;
  font-weight: 600;
  margin: 0;
}
body main .landing__intro__body {
  font-family: "Open Sans", sans-serif;
  font-size: 2.145rem;
  font-weight: 400;
  line-height: 1.5em;
  margin: 1em 0;
}
body main .landing__intro__cta {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  color: hsl(257deg, 40%, 49%);
  background: white;
  border-radius: 50px;
  padding: 1em 6em;
  margin-top: 1em;
  box-shadow: 2px 6px 10px 4px hsla(0deg, 0%, 0%, 0.25);
}
body main .landing__intro__cta:hover {
  background: hsl(300deg, 69%, 71%);
  color: white;
  font-weight: 600;
  transform: scale(1.05);
  transition: 0.25s ease;
}
body footer {
  width: 45%;
  margin: auto;
}
body footer .socials {
  display: flex;
  flex-direction: row;
  font-size: 1.85rem;
  justify-content: space-evenly;
}
body footer .socials__fb {
  border: 2px solid;
  border-radius: 50%;
  padding: 0.4em 0.65em;
}
body footer .socials__fb:hover {
  border-color: hsl(300deg, 69%, 71%);
  background-color: hsl(300deg, 69%, 71%);
  transform: scale(1.1);
  transition: 0.75s ease;
}
body footer .socials__tw {
  border: 2px solid;
  border-radius: 50%;
  padding: 0.4em 0.45em;
}
body footer .socials__tw:hover {
  border-color: hsl(300deg, 69%, 71%);
  background-color: hsl(300deg, 69%, 71%);
  transform: scale(1.1);
  transition: 0.75s ease;
}
body footer .socials__ig {
  border: 2px solid;
  border-radius: 50%;
  padding: 0.4em 0.5em;
}
body footer .socials__ig:hover {
  border-color: hsl(300deg, 69%, 71%);
  background-color: hsl(300deg, 69%, 71%);
  transform: scale(1.1);
  transition: 0.75s ease;
}

@media only screen and (min-width: 1440px) {
  :root {
    background: hsl(257deg, 40%, 49%) url("../images/bg-desktop.svg") left top no-repeat;
    background-size: auto;
  }
  body {
    padding: 4em 5em;
  }
  body header {
    padding-bottom: 4.25em;
  }
  body main .landing {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  body main .landing__intro {
    margin: 3em 0 0 4em;
    text-align: start;
  }
  body main .landing__intro__desc {
    font-size: 2.6rem;
  }
  body main .landing__intro__body {
    font-size: 1.2rem;
  }
  body main .landing__intro__cta {
    font-size: 1.25rem;
    padding: 0.75em 3.25em;
    margin-top: 0.5em;
  }
  body main .landing__intro__cta:hover {
    transform: scale(1.125);
    transition: 0.25s ease;
  }
  body footer {
    width: 100vw;
    margin: 0;
  }
  body footer .socials {
    display: flex;
    font-size: 1.15rem;
    justify-content: space-between;
    position: absolute;
    right: 5em;
    bottom: 2em;
    width: 10vw;
  }
  body footer .socials__fb {
    border-radius: 50%;
    padding: 0.5em 0.8em;
  }
  body footer .socials__fb:hover {
    transform: scale(1.3);
    transition: 0.6s ease;
  }
  body footer .socials__tw {
    border-radius: 50%;
    padding: 0.5em 0.61em;
  }
  body footer .socials__tw:hover {
    transform: scale(1.3);
    transition: 0.6s ease;
  }
  body footer .socials__ig {
    border-radius: 50%;
    padding: 0.5em 0.7em;
  }
  body footer .socials__ig:hover {
    transform: scale(1.3);
    transition: 0.6s ease;
  }
}/*# sourceMappingURL=index.css.map */