@import "variables";

:root {
  background: $violet url("../images/bg-mobile.svg") top no-repeat;
  background-size: contain;
  color: white;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 5em;

  header {
    padding-bottom: 7em;
  }

  main {
    .landing {
      display: flex;
      flex-direction: column;

      &__hero {
        width: 100%;
      }

      &__intro {
        margin: 8em 0;
        text-align: center;

        &__desc {
          font-family: $heading-font;
          font-size: 3.25rem;
          font-weight: 600;
          margin: 0;
        }

        &__body {
          font-family: $body-font;
          font-size: 2.145rem;
          font-weight: 400;
          line-height: 1.5em;
          margin: 1em 0;
        }

        &__cta {
          display: inline-block;
          font-family: $heading-font;
          font-size: 1.75rem;
          font-weight: 400;
          color: $violet;
          background: white;
          border-radius: 50px;
          padding: 1em 6em;
          margin-top: 1em;
          box-shadow: 2px 6px 10px 4px hsla(0, 0%, 0%, 0.25);

          &:hover {
            background: $soft-magenta;
            color: white;
            font-weight: 600;
            transform: scale(1.05);
            transition: 0.25s ease;
          }
        }
      }
    }
  }

  footer {
    width: 45%;
    margin: auto;

    .socials {
      display: flex;
      flex-direction: row;
      font-size: 1.85rem;
      justify-content: space-evenly;

      &__fb {
        border: 2px solid;
        border-radius: 50%;
        padding: 0.4em 0.65em;

        &:hover {
          border-color: $soft-magenta;
          background-color: $soft-magenta;
          transform: scale(1.1);
          transition: 0.75s ease;
        }
      }

      &__tw {
        border: 2px solid;
        border-radius: 50%;
        padding: 0.4em 0.45em;

        &:hover {
          border-color: $soft-magenta;
          background-color: $soft-magenta;
          transform: scale(1.1);
          transition: 0.75s ease;
        }
      }

      &__ig {
        border: 2px solid;
        border-radius: 50%;
        padding: 0.4em 0.5em;

        &:hover {
          border-color: $soft-magenta;
          background-color: $soft-magenta;
          transform: scale(1.1);
          transition: 0.75s ease;
        }
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  :root {
    background: $violet url("../images/bg-desktop.svg") left top no-repeat;
    background-size: auto;
  }

  body {
    padding: 4em 5em;

    header {
      padding-bottom: 4.25em;
    }

    main {
      .landing {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        &__intro {
          margin: 3em 0 0 4em;
          text-align: start;

          &__desc {
            font-size: 2.6rem;
          }

          &__body {
            font-size: 1.2rem;
          }

          &__cta {
            font-size: 1.25rem;
            padding: 0.75em 3.25em;
            margin-top: 0.5em;

            &:hover {
              transform: scale(1.125);
              transition: 0.25s ease;
            }
          }
        }
      }
    }

    footer {
      width: 100vw;
      margin: 0;

      .socials {
        display: flex;
        font-size: 1.15rem;
        justify-content: space-between;
        position: absolute;
        right: 5em;
        bottom: 2em;
        width: 10vw;

        &__fb {
          border-radius: 50%;
          padding: 0.5em 0.8em;

          &:hover {
            transform: scale(1.3);
            transition: 0.6s ease;
          }
        }

        &__tw {
          border-radius: 50%;
          padding: 0.5em 0.61em;

          &:hover {
            transform: scale(1.3);
            transition: 0.6s ease;
          }
        }

        &__ig {
          border-radius: 50%;
          padding: 0.5em 0.7em;

          &:hover {
            transform: scale(1.3);
            transition: 0.6s ease;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1920px) {
  :root {
    background: $violet url("../images/bg-desktop.svg") left top no-repeat;
    background-size: 85%;
  }
  body {
    main {
      .landing {
        &__intro {
          &__desc {
            font-size: 3.25rem;
          }

          &__body {
            font-size: 1.75rem;
          }

          &__cta {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
